# Optional Backend Configuration
# ------------------------------

# Admin PIN for protecting the application.
# Mandatory in production.
WORTH_IT_ADMIN_PIN=your-local-admin-pin

# Telegram Bot Token for notifications
TELEGRAM_BOT_TOKEN=your-telegram-bot-token

# Other settings
PORT=8000
